.about-me-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.about-me-wrapper .who-i-am {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 5%;
}

.about-me-wrapper .skillset {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.about-me-wrapper > * > div {
  width: 100%;
  height: 100%;
  background-color: var(--box-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;
  box-sizing: border-box;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.basic-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.who-i-am h6 {
  margin: 0 0 18px 0;
  font-size: 1.6vmin;
  text-transform: uppercase;
  font-family: "Montserrat-Bold";
}

.who-i-am span {
  font-size: 1.6vmin;
  margin-bottom: 5px;
  color: var(--faded-text-color);
}

.who-i-am span:last-child {
  margin-bottom: 0;
}

.who-i-am p {
  margin: 0;
  font-size: 1.6vmin;
  line-height: 1.5;
  color: var(--faded-text-color);
  text-align: justify;
}

.who-i-am b {
  color: var(--highlight);
}

.who-i-am-img-wrapper {
  width: 40%;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: 0.5s;

  background-image: url(../../assets/images/pfp.png);
  background-size: cover;
  background-position: center;
}

.who-i-am-img-wrapper img {
  width: 100%;
  height: inherit;
}

.who-i-am-img-wrapper:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.passion-list {
  width: 100%;
  display: grid;
  /* display: flex;
  justify-content: space-between; */
  grid-template-columns: 13% 13% 13% 13% 13% 13%;
  grid-template-rows: 55px;
  grid-column-gap: 4.5%;
}

.passion-item {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  position: relative;
}

.passion-item:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.passion-item:hover .tooltiptext,
.skillset-icon:hover .tooltiptext {
  visibility: visible;
}

.skillset-icons {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  transition: 0.5s;
}

.skillset-icons .icons-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.skillset-icons .skillset-icon {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  position: relative;
}

.skillset-icons .skillset-icon .tooltiptext {
  bottom: 90px;
  width: 100px;
}

.skillset-icons .skillset-icon .tooltiptext::before {
  right: 45px;
}

.skillset-icons .skillset-icon:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.skillset-icon-wrapper {
  width: 40px;
  height: 40px;
}

.skillset-icon-wrapper img {
  width: 100%;
  height: auto;
}

.skillset-gif-wrapper {
  width: 100%;
  height: auto;
  transition: 0.5s;
  display: flex;
}

.skillset-gif-wrapper img {
  width: 10vh;
  height: auto;
}

.gif-wrapper-aux {
  width: 100%;
  height: 100%;
  background-color: #C2C3C7;
}

.skillset-gif-wrapper:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
  .skillset {
    margin-right: 5%;
  }


  .skillset-gif-wrapper img {
    width: 8vw;
  }

  .skillset-icons {
    grid-template-rows: 8vw 8vw 8vw 8vw;
  }
}

@media screen and (max-width: 900px) {

  .about-me-wrapper > .who-i-am,
  .about-me-wrapper .skillset > div {
    height: 75vh;
  }

  .basic-info, .history-info {
    margin-bottom: 30px;
  }

  .about-me-wrapper {
    flex-direction: column;
    overflow-y: scroll;
  }

  .about-me-wrapper .who-i-am {
    height: auto;
    width: 100%;
    margin-bottom: 12%;
    margin-left: 0;
  }

  .who-i-am h6, .who-i-am span, .who-i-am p {
    font-size: 2.5vmin;
  }

  .who-i-am span {
    margin-bottom: 5px;
    color: var(--faded-text-color);
  }

  .about-me-wrapper .skillset {
    width: 100%;
    height: 100%;
  }

  .about-me-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

  .about-me-wrapper::-webkit-scrollbar {
    display: none;
  }

  .skillset-icons {
    grid-template-columns: 21.2% 21.2% 21.2% 21.2%;
    grid-template-rows: 13vw 13vw 13vw;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
  }

  .passion-list {
    grid-template-rows: 10vw;
  }

  .skillset-gif-wrapper img {
    width: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .who-i-am span, .history-info p,
  .who-i-am h6 {
    font-size: 3vmin;
  }
}

@media screen and (max-width: 600px) {
  .who-i-am span, .history-info p,
  .who-i-am h6 {
    font-size: 3.5vmin;
  }

  .skillset-gif-wrapper img {
    width: 16vw;
  }

  .skillset-icons {
    grid-template-columns: 26.5% 26.5% 26.5%;
    grid-template-rows: 16vw 16vw 16vw 16vw;
    grid-column-gap: 10%;
    grid-row-gap: 5%;
  }

  .passion-list {
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 16vw 16vw;
    grid-column-gap: 8%;
    grid-row-gap: 20px;
  }

  .skillset-icon-wrapper {
    width: 30px;
    height: 30px;
  }
}