.dots-wrapper {
    width: 40px;
    height: 100%;
    margin-left: 25px;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

.dots-wrapper .slider-dot {
  width: 20px;
  height: 20px;
}

.dots-wrapper .slider-dot::before {
  width: 20px;
  height: 3px;
  border-radius: 50px;
  display: block;
  position: relative;
  content: " ";
  color: #DAD4FF;
  top: 8px;
  transition: 0.2s;
  background-color: #232323;
}

.dots-wrapper .dot-grow::before {
  width: 40px;
}

@media screen and (max-width: 1200px) {
  .dots-wrapper {
    height: 40px;
    right: calc(50vw - 20px);
    bottom: 10px;
    transform: rotate(-90deg);
  }
}