.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-wrapper .projects {
  height: 75vh;
}

.projects-wrapper > .projects > div {
  margin: 0 5%;
  width: 95%;
  box-sizing: border-box;
  height: calc(75vh - 35px);
  padding: 40px;
  background-color: var(--box-color);
}

.projects-tab {
  display: flex;
}

.projects-tab .tab-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.projects-tab span {
  font-size: 1.5vmin;
  font-family: "Montserrat-Bold";
  text-transform: uppercase;
  color: rgb(181 181 181);
  border-bottom: 2px solid var(--box-color);
  line-height: 2;
  margin-top: -5px;
  transition: 0.2s;
}

.projects-tab .active-tab {
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.projects-list {
  height: 92%;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  transition: 1s;
  transition: 0.5s;
}

.projects-list::-webkit-scrollbar {
  display: none;
}

.projects-list > ul {
  margin-top: 0px;
  margin-bottom: 40px;
  transition: 0.5s;
}

.list-item-wrapper {
  width: inherit;
  height: inherit;
  transition: 0.5s;
}

.list-item-wrapper img {
  width: 100%;
  margin-bottom: 40px;
}

.list-item-bottom {
  width: 100%;
  height: 40px;
  background-color: white;
  font-size: 1.6vmin;
  text-transform: lowercase;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  position: absolute;
  box-sizing: border-box;
  bottom: 6px;
  transition: 0.5s;

  z-index: 3;
  overflow-y: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.list-item-bottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item-bottom > a {
  text-decoration: none;
}

.list-item-bottom > a:visited {
  text-decoration: none;
  color: var(--highlight);
}

.list-item-bottom::-webkit-scrollbar {
  display: none;
}

.project-expand {
  height: calc(100% - 6px);
  overflow-y: auto;
  transition: 0.5s;
}

.project-expand > div > span {
  margin-top: 10px;
}

.list-item-wrapper .list-item-bottom .item-tag {
  margin-top: 10px;
  color: var(--bg-color);
  font-size: 1.5vmin;
  font-family: "Montserrat-Bold";
  font-style: italic;
}

.list-item-bottom .item-description {
  margin: 15px;
  text-align: justify;
  font-size: 1.5vmin;
  line-height: 1.5;
  font-family: "Montserrat";
  color: #b9b9b9;

  transition: 0.2s;
}

.list-item-bottom .item-url {
  margin-bottom: 20px;
  font-family: "Montserrat-Bold";
  font-variant: small-caps;
  color: var(--highlight);
  transition: 0.2s;
  border: 2px solid white;
}

.list-item-bottom .item-url:hover {
  border-bottom: 2px solid var(--highlight);
}

@media screen and (max-width: 1200px) {
  .projects-wrapper > div {
    width: 90%;
    margin: 0px 5%;
  }

  .projects-wrapper > .projects > div {
    margin: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .projects-wrapper > div {
    width: 100%;
    margin: 0px;
  }

  .projects-wrapper {
    max-width: 600px;
  }

  .list-item-bottom {
    font-size: 16px;
  }

  .list-item-bottom .item-tag,
  .list-item-bottom .item-description {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 700px) {
  .projects-list {
    margin-top: 5%;
    height: 90%;
  }

  .list-item-wrapper .list-item-bottom .item-tag {
    margin-top: 15px;
    /* font-size: 2.8vmin; */
  }
  
  .list-item-bottom .item-description {
    margin: 20px;
    /* font-size: 2.8vmin; */
    line-height: 1.5;
  }

  .projects-tab span {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .projects-list {
    margin-top: 10%;
  }

  .projects-list > ul > li {
    margin-bottom: 20px !important;
  }

  .projects-tab {
    justify-content: space-between;
  }

  .projects-tab > div {
    padding: 0 !important;
  }

  .projects-wrapper > .projects > div {
    padding: 10%;
  }
}